---
interface Props {
    id: number;
    title: string;
    description: string;
    image: string;
    animation: string;
    sectionId: string;
}
const { id, title, description, image, animation, sectionId } = Astro.props;

const idToString = id.toString();
const number = parseNumber(idToString);
function parseNumber(number: string) {
    return number.padStart(2, "0");
}
---

<section class="service design-4" id={sectionId}>
    <div class="container">
        <div class="flex items-center flex-column-sm">
            <div
                class="design-4__content flex flex-column items-center text-center-sm"
            >
                <span class="number"
                    ><svg class="text-stroke" viewBox="0 0 500 100">
                        <text
                            x="50%"
                            y="50%"
                            id="sm"
                            text-anchor="middle"
                            dominant-baseline="middle">{number}</text
                        >
                        <text
                            x="10%"
                            y="50%"
                            id="md"
                            text-anchor="middle"
                            dominant-baseline="middle">{number}</text
                        >
                    </svg></span
                >
                <h1 set:html={title} />
                <p>{description}</p>
                <div class="buttons flex  flex-column-lg">
                    <button class="btn btn-primary" data-id={id}
                        ><span>Seleccionar servicio</span>
                    </button>
                    <button class="btn btn-secondary" data-id={id}
                        ><span>Remover</span>
                    </button>
                </div>
            </div>
            <div class={`design-4__img reveal reveal-to-${animation}`}>
                <img src=`/images/services/${image}.png` alt="" />
            </div>
        </div>
    </div>
</section>
